<div class="custom-select-wrapper">
    
    <div class="custom-select-trigger">
        <span id="selected-semester-text">Chọn học kỳ</span>
        <span class="material-symbols-outlined dropdown-arrow">arrow_drop_down</span>
    </div>
    
    <div class="custom-select-menu">
        <div class="custom-option" data-value="hk252">HK252</div>
        <div class="custom-option" data-value="hk251">HK251</div>
        <div class="custom-option" data-value="hk243">HK243</div>
        <div class="custom-option" data-value="hk242">HK242</div>
        <div class="custom-option" data-value="hk241">HK241</div>
    </div>

</div>